satellite_env/
satellite_env
pycache/
__pycache__/
backend/pycache/
.env/
*.env
backend/.env
backend/app/blockchain/deployment_info.json
backend/satellite.db
backend/app/blockchain/satellite.db
*.bin
*.pem
*.db