fastapi
uvicorn[standard]
sqlalchemy
pydantic-settings
uvicorn
sqlalchemy
psycopg2-binary
aiosqlite
python-jose
passlib==1.7.4
bcrypt==3.2.2
python-dotenv
pydantic-settings
pydantic[email]
python-multipart
python-jose[cryptography]
passlib[bcrypt]
groq
scikit-learn
xgboost
shap
pandas
numpy
httpx
pytest
pytest-asyncio
pycryptodome
matplotlib
seaborn
plotly
